{% extends "base/app.html.twig" %}
{% block title %}Edit language {{ language.name }}!{% endblock %}
{% block body %}
	{# FORM WRAPPER #}
	<div class="col-12 col-lg-8 col-xl-6 mx-auto">
		{# FORM START #}
		{{ form_start(languageEditForm, {'attr':{'class':'bg-light rounded-1 shadow-3 my-5 mx-sm-4 mx-1 py-4 px-2 px-sm-4'}}) }}
		{# FORM START #}
		
		{# FORM HEADER #}
		<div class="form-row">
			<h1 class="text-center w-100">Modify language {{ language.name }}</h1>
		</div>
		{# FORM HEADER #}
		
		{# GENERAL ERRORS #}
		<div class="flash flash__error">
			{{ form_errors(languageEditForm) }}
		</div>
		{# GENERAL ERRORS #}
		
		{# LANGUAGE TITLE #}
		<div class="form-group py-1 px-md-1 p-lg-3">
			{% if languageEditForm._name.vars.errors is not empty and languageEditForm._name.vars.errors|length > 0 %}
				<div class="flash flash__danger">{{ form_errors(languageEditForm._name) }}</div>
			{% endif %}
			<div class="form-outline">
				{{ form_widget(languageEditForm._name, {'attr':{'class':'form-control custom__form-input'}}) }}
				{{ form_label(languageEditForm._name, null, {'label_attr':{'class':'form-label'}}) }}
			</div>
		</div>
		{# LANGUAGE TITLE #}
		
		{# LANGUAGE DESCRIPTION #}
		<div class="form-group py-1 px-md-1 p-lg-3">
			{% if languageEditForm._description.vars.errors is not empty and languageEditForm._description.vars.errors|length > 0 %}
				<div class="flash flash__danger">{{ form_errors(languageEditForm._description) }}</div>
			{% endif %}
			<div class="form-outline">
				{{ form_widget(languageEditForm._description, {'attr':{'class':'form-control custom__form-input'}}) }}
				{{ form_label(languageEditForm._description, null, {'label_attr':{'class':'form-label'}}) }}
			</div>
		</div>
		{# LANGUAGE DESCRIPTION #}
		
		{# FORM SUBMIT #}
		<div class="form-group py-1 px-md-1 p-lg-3 text-center">
			{{ form_widget(languageEditForm.save, {'attr':{'class':'btn btn-primary'}}) }}
		</div>
		{# FORM SUBMIT #}
		
		{# FORM END #}
		{{ form_rest(languageEditForm) }}
		{{ form_end(languageEditForm) }}
		{# FORM END #}
	</div>
	{# FORM WRAPPER #}
{% endblock %}
