{% extends 'base/app.html.twig' %}
{% block title %}Change your password with a token{% endblock %}
{% block body %}
	{% if app.user %}
		<div class="mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('security-logout') }}">Logout</a></div>
	{% else %}
		<div class="col-12 col-lg-8 col-xl-6 mx-auto">
			<form class="bg-light rounded-1 shadow-3 my-5 mx-sm-4 mx-1 py-4 px-2 px-sm-4"
			      action="{{ path('credentials-password-change-with-token', {'passwordToken': passwordToken}) }}" method="POST">
				<h1 class="text-center">Change Your Password</h1>
				<input type="hidden" name="password_change_with_token[_token]" value="{{ csrf_token('_password_change_with_token[_csrf_token]') }}">
				<div class="form-group py-1 px-md-1 p-lg-3">
					<div class="form-outline">
						<input class="form-control form-control-lg custom__form-input" id="password-change-with-token"
						       type="password" name="password_change_with_token[_password]" required>
						<label class="form-label" for="password-change-with-token">Password</label>
					</div>
				</div>
				<div class="form-group p-1 p-lg-3 d-flex flex-row">
					<span class="validation__bar validation__bar-1"></span>
					<span class="validation__bar validation__bar-2"></span>
					<span class="validation__bar validation__bar-3"></span>
					<span class="validation__bar validation__bar-4"></span>
				</div>
				<div class="form-group p-1 p-lg-3">
					<ul class="list-unstyled validations-list">
						<li><i class="validation__1-icon icon-exclamation"></i> must be at least 12 characters</li>
						<li><i class="validation__2-icon icon-exclamation"></i> must contain at least one capital letter</li>
						<li><i class="validation__3-icon icon-exclamation"></i> must contain minimum of one number</li>
						<li><i class="validation__4-icon icon-exclamation"></i> must contain at least one symbol $&+,:;=?@#</li>
					</ul>
				</div>
				<div class="form-group p-1 p-lg-3 text-center">
					<input id="submit-form-button" class="btn btn-primary" disabled type="submit" value="Change password">
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('password-change-validations') }}
{% endblock %}