{% extends "base/app.html.twig" %}
{% block title %}Add a new project category{% endblock %}
{% block body %}
	{# FORM WRAPPER #}
	<div class="col-12 col-lg-8 col-xl-6 mx-auto">
		{# FORM START #}
		{{ form_start(categoryCreateForm, {'attr':{'class':'bg-light rounded-1 shadow-3 my-5 mx-sm-4 mx-1 py-4 px-2 px-sm-4'}}) }}
		{# FORM START #}
		
		{# FORM HEADER #}
		<div class="form-row">
			<h1 class="text-center w-100">Add a new project category</h1>
		</div>
		{# FORM HEADER #}
		
		{# GENERAL ERRORS #}
		<div class="flash flash__error">
			{{ form_errors(categoryCreateForm) }}
		</div>
		{# GENERAL ERRORS #}
		
		{# CATEGORY TITLE #}
		<div class="form-group py-1 px-md-1 p-lg-3">
			{% if categoryCreateForm._name.vars.errors is not empty and categoryCreateForm._name.vars.errors|length > 0 %}
				<div class="flash flash__danger">{{ form_errors(categoryCreateForm._name) }}</div>
			{% endif %}
			<div class="form-outline">
				{{ form_widget(categoryCreateForm._name, {'attr':{'class':'form-control custom__form-input'}}) }}
				{{ form_label(categoryCreateForm._name, null, {'label_attr':{'class':'form-label'}}) }}
			</div>
		</div>
		{# CATEGORY TITLE #}
		
		{# FORM SUBMIT #}
		<div class="form-group py-1 px-md-1 p-lg-3 text-center">
			{{ form_widget(categoryCreateForm.create, {'attr':{'class':'btn btn-primary'}}) }}
		</div>
		{# FORM SUBMIT #}
		
		{# FORM END #}
		{{ form_rest(categoryCreateForm) }}
		{{ form_end(categoryCreateForm) }}
		{# FORM END #}
	</div>
	{# FORM WRAPPER #}
{% endblock %}
