{% extends "base/app.html.twig" %}
{% block title %}Create a new amazing feature for {{ project.name }}!{% endblock %}
{% block body %}
	{# FORM WRAPPER #}
	<div class="col-12 col-lg-8 col-xl-6 mx-auto">
		{# FORM START #}
		{{ form_start(featureCreateForm, {'attr':{'class':'bg-light rounded-1 shadow-3 my-5 mx-sm-4 mx-1 py-4 px-2 px-sm-4'}}) }}
		{# FORM START #}
		
		{# FORM HEADER #}
		<div class="form-row">
			<h1 class="text-center w-100">Add a new feature for {{ project.name }}</h1>
		</div>
		{# FORM HEADER #}
		
		{# GENERAL ERRORS #}
		<div class="flash flash__error">
			{{ form_errors(featureCreateForm) }}
		</div>
		{# GENERAL ERRORS #}
		
		{# FEATURE TITLE #}
		<div class="form-group py-1 px-md-1 p-lg-3">
			{% if featureCreateForm._title.vars.errors is not empty and featureCreateForm._title.vars.errors.length > 0 %}
				<div class="flash flash__danger">{{ form_errors(featureCreateForm._title) }}</div>
			{% endif %}
			<div class="form-outline">
				{{ form_widget(featureCreateForm._title, {'attr':{'class':'form-control custom__form-input'}}) }}
				{{ form_label(featureCreateForm._title, null, {'label_attr':{'class':'form-label'}}) }}
			</div>
		</div>
		{# FEATURE TITLE #}
		
		{# FEATURE DESCRIPTION #}
		<div class="form-group py-1 px-md-1 p-lg-3">
			{% if featureCreateForm._description.vars.errors is not empty and featureCreateForm._description.vars.errors.length > 0 %}
				<div class="flash flash__danger">{{ form_errors(featureCreateForm._description) }}</div>
			{% endif %}
			<div class="form-outline">
				{{ form_widget(featureCreateForm._description, {'attr':{'class':'form-control custom__form-input'}}) }}
				{{ form_label(featureCreateForm._description, null, {'label_attr':{'class':'form-label'}}) }}
			</div>
		</div>
		{# FEATURE DESCRIPTION #}
		
		{# FORM SUBMIT #}
		<div class="form-group py-1 px-md-1 p-lg-3 text-center">
			{{ form_widget(featureCreateForm.create, {'attr':{'class':'btn btn-primary'}}) }}
		</div>
		{# FORM SUBMIT #}
		
		{# FORM END #}
		{{ form_rest(featureCreateForm) }}
		{{ form_end(featureCreateForm) }}
		{# FORM END #}
	</div>
	{# FORM WRAPPER #}
{% endblock %}
