{% apply inky_to_html %}
	<container>
		<row>
			<columns>
				<spacer size="32"></spacer>
				<h1 class="text-center">Hi, {{ user.name }}!</h1>
				<h3 class="text-center">You have requested an email with a password reset code.</h3>
				<p>To reset your email, please click <a
							href="{{ url('credentials-password-change-with-token', {'passwordToken' : user.passwordResetToken}) }}">this</a> link</p>
				<spacer size="32"></spacer>
				<h2 class="text-center">If you have not requested or this is not your IP, please contact the administrator.</h2>
				<p>The request was made from the IP address - {{ user.passwordResetTokenRequestedFromIp }} on
					{{ user.passwordResetTokenRequestedAt|date("d/m/Y") }} from browser {{ user.passwordResetTokenRequestedFromBrowser }}</p>
			</columns>
		</row>
	</container>
{% endapply %}