<div class="m-0 pb-3 pt-4 text__light bg__info-accent">
	<h5 class="text-center text-uppercase">
		<a class="text-decoration-none text__light link-light" href="{{ path('category-show', {'category_uuid':category.uuid}) }}">{{ category.name }}</a>
	</h5>
</div>
<div class="row mx-auto p-2 pb-0 m-0 border-3 shadow-3">
	<div class="col-8 p-2">
		<p class="small p-0 m-0">
			<a href="{{ path('category-show', {'category_uuid':category.uuid}) }}">
				UUID - {{ category.uuid }}
			</a>
		</p>
	</div>
	<hr class="mt-2 mb-1 p-0 m-0">
	<div class="col-12 p-2">
		<p class="p-0 m-0">
			{{ category.projects.count }} projects use this category.
		</p>
	</div>
</div>