<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a href="{{ path('home') }}" class="navbar-brand">
			<div class="logo__phantus">
				<img src="{{ asset('build/images/_logo/logo_shape_only_no_bg.png') }}" alt="Kikopolis Phantus logo" height="52">
			</div>
			<span class="text__danger">IGNIS</span>
		</a>
		<button type="button" class="navbar-toggler" data-mdb-toggle="collapse" data-mdb-target="#navbar-collapsible-content">
			<i class="fas fa-bars"></i>
		</button>
		<div id="navbar-collapsible-content" class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if not app.user %}
					<li class="nav-item">
						<a href="{{ path('account-register') }}" class="nav-link text-uppercase">
							<span>Register</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('security-login') }}" class="nav-link text-uppercase">
							<span>Login</span>
						</a>
					</li>
				{% else %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-uppercase" href="#" data-mdb-toggle="dropdown" data-mdb-target="#account-dropdown">
							Account
						</a>
						<ul class="dropdown-menu" id="account-dropdown">
							<li><a href="{{ path('profile-show-self') }}" class="dropdown-item">Profile</a></li>
							<li><a href="{{ path('account-edit') }}" class="dropdown-item">Edit Account</a></li>
							<li><a href="{{ path('profile-edit') }}" class="dropdown-item">Edit Public Profile</a></li>
							<li><a href="{{ path('security-logout') }}" class="dropdown-item">Logout</a></li>
						</ul>
					</li>
				{% endif %}
				
				{# TEST USER NAV #}
				{% if is_granted('ROLE_TEST_USER') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-uppercase" href="#" data-mdb-toggle="dropdown" data-mdb-target="#create-dropdown">
							Create
						</a>
						<ul class="dropdown-menu" id="create-dropdown">
							<li><a href="{{ path('projects-create') }}" class="dropdown-item">Project</a></li>
							<li><a href="{{ path('categories-create') }}" class="dropdown-item">Category</a></li>
							<li><a href="{{ path('languages-create') }}" class="dropdown-item">Language</a></li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-uppercase" href="#" data-mdb-toggle="dropdown" data-mdb-target="#list-dropdown">
							List
						</a>
						<ul class="dropdown-menu" id="list-dropdown">
							<li><a href="{{ path('admin-users-list', {'page':1}) }}" class="dropdown-item">Users</a></li>
							<li><a href="{{ path('projects-list-admin', {'page':1}) }}" class="dropdown-item">All Projects</a></li>
							<li><a href="{{ path('categories-list', {'page':1}) }}" class="dropdown-item">Categories</a></li>
							<li><a href="{{ path('languages-list', {'page':1}) }}" class="dropdown-item">Languages</a></li>
						</ul>
					</li>
				{% endif %}
				{# TEST USER NAV #}
				
				{# PROJECT LEAD AND ADMIN NAV #}
				{% if is_granted('ROLE_PROJECT_LEAD') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-uppercase" href="#" data-mdb-toggle="dropdown" data-mdb-target="#create-dropdown">
							Create
						</a>
						<ul class="dropdown-menu" id="create-dropdown">
							<li><a href="{{ path('projects-create') }}" class="dropdown-item">Project</a></li>
							<li><a href="{{ path('categories-create') }}" class="dropdown-item">Category</a></li>
							<li><a href="{{ path('languages-create') }}" class="dropdown-item">Language</a></li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-uppercase" href="#" data-mdb-toggle="dropdown" data-mdb-target="#list-dropdown">
							List
						</a>
						<ul class="dropdown-menu" id="list-dropdown">
							{% if app.user.hasRole('ROLE_ADMIN') %}
								<li><a href="{{ path('admin-users-list', {'page':1}) }}" class="dropdown-item">Users</a></li>
								<li><a href="{{ path('projects-list-admin', {'page':1}) }}" class="dropdown-item">All Projects</a></li>
							{% endif %}
							<li><a href="{{ path('projects-list', {'page':1}) }}" class="dropdown-item">My Projects</a></li>
							<li><a href="{{ path('categories-list', {'page':1}) }}" class="dropdown-item">Categories</a></li>
							<li><a href="{{ path('languages-list', {'page':1}) }}" class="dropdown-item">Languages</a></li>
						</ul>
					</li>
				{% endif %}
				{# PROJECT LEAD AND ADMIN NAV #}
			
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a href="https://kikopolis.tech" target="_blank" class="nav-link">
						<i class="icon-globe"></i>
						<span class="text__info">kikopolis.tech</span>
					</a>
				</li>
			</ul>
		</div>
	
	</div>
</nav>